<section>
  <!-- Forgot Password -->
<div class="" *ngIf="step==1">
    <h1  class="text-center text-main my-2">Forgot Password</h1>
    <form [formGroup]="VerifyEmail" class="bg-main-light rounded-4 shadow p-3"
    (ngSubmit)="VerfiyEmailSubmit()">
      <div class="my-2">
        <label for="email">Email</label>
        <input
          formControlName="email"
          id="email"
           type="email"
          class="form-control"
        />
      </div>
      <button
        [disabled]="VerifyEmail.invalid"
        class="btn-main"
      >
        Verify Email
      </button>
    </form>
  </div>
    
    <!-- Code -->
     <div class="" *ngIf="step==2">
      <h1 class="text-center text-main my-2">Code</h1>
      <form [formGroup]="VerifyCode" class="bg-main-light rounded-4 shadow p-3" (ngSubmit)="VerfiyCodeSubmit()">
        <div class="my-2">
          <label for="Code">Code</label>
          <input
            formControlName="resetCode"
            id="Code"
            type="text"
            class="form-control"
          />
        </div>
        <button
          [disabled]="VerifyCode.invalid"
          class="btn-main"
        >
          Verify Code
        </button>
      </form>
    </div>
    
    <!-- New pASSWORD -->
    <div class="" *ngIf="step==3">
      <h1 class="text-center text-main my-2">New Password</h1>
      <form [formGroup]="VerifyPassword" class="bg-main-light rounded-4 shadow p-3" (ngSubmit)="ResetPaswordsubmit()">
        <div class="my-2">
          <label  for="email">Email</label>
          <input readonly
            formControlName="email"
            id="email"
            type="email"
            class="form-control"
          />
        </div>
        <div class="my-2">
          <label for="newPassword">newPassword</label>
          <input
            formControlName="newPassword"
            id="newPassword"
            type="Password"
            class="form-control"
          />
        </div>
        <button
          [disabled]="VerifyPassword.invalid"
          class="btn-main"
        >
         login
        </button>
      </form>
    </div>
  </section>
  